#a{
    color:rgba(0, 0, 0, 0.877);
}
#b{
    color:rgba(0, 0, 0, 0.877);
}
#c{
    color:rgba(0, 0, 0, 0.877);
}
#ab{
    max-width: 960px;
}
#ac{
    max-width: 960px;
}
#bc{
    max-width: 960px;
}